<html>
  <head>
    <title>PoiNT CHaT Error Page</title>
    <!-- Changed by: , 13-Jul-2010 -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

    <h3> pntcht encountered and error:</h3>

    <p><emph> {{ error_msg }} </emph></p>

  </body>
</html>
